## Key indicators as leading and lagging indicators
The first of these algorithms is a general exploration into how certain key variables perform for stock market movements as leading and lagging indicators across various time series. These indicators include:
- The The Volatility Index (VIX)
- Index moving averages (50, 100 and 200 days)
- Treasury rates (5, 10, 30)

In [1]:
#import all libraries needed for analysis and investment metadata
import yfinance as yf
import pandas_datareader as pdr
import alpha_vantage as av
import pandas as pd
from alpha_vantage.timeseries import TimeSeries
from datetime import datetime

In [2]:
#define api key and timeseries for using alpha_vantage
api_key = 'ALUI1VJSESQR07TD'
ts = TimeSeries(key=api_key)
symbols=['QQQ', 'VXX']

#date range for filtered_date
start = '2009-01-30'
end = datetime.now().strftime('%Y-%m-%d')

df = pd.DataFrame()

#pull in daily prices for each symbol
for sym in symbols:
    data, meta_data = ts.get_daily(symbol=sym, outputsize='full')
    
    # Filter data for the specified date range
    filtered_data = {date: values['4. close'] for date, values in data.items() if start <= date <= end}
    
    # Convert filtered_data into a DataFrame
    sym_df = pd.DataFrame.from_dict(filtered_data, orient='index')
    sym_df.index = pd.to_datetime(sym_df.index)
    
    # Rename the column to use the symbol as the column header
    sym_df = sym_df.rename(columns={0: sym})
    
    # Concatenate the DataFrame for the current symbol to the main DataFrame
    df = pd.concat([df, sym_df], axis=1)

df.head(5)

               QQQ    VXX
2023-09-29  358.27  23.32
2023-09-28  358.01  22.87
2023-09-27  355.04  23.97
2023-09-26  354.21  25.04
2023-09-25  359.61  22.90

In [3]:
#calculate moving averages
sma = [50, 100, 200]

df_sma = df.sort_index(ascending=True) #make ascending to calc SMAs

#at each sma value, calculate the corresponding sma for each ticker
for num in sma:
    for sym in symbols:
        col_name = f'{sym}_SMA_{num}' #pass through column name for each sma
        df_sma[col_name] = df_sma[sym].rolling(window=num).mean()

df_sma = df_sma.sort_index(ascending=False)

#cut the number of rows equal to the highest sma value to have a full working set of data
df_sma.head(10)

,QQQ,VXX,QQQ_SMA_50,VXX_SMA_50,QQQ_SMA_100,VXX_SMA_100,QQQ_SMA_200,VXX_SMA_200
2023-09-29,358.27,23.32,369.8396,23.1705,362.8568,26.47195,330.28750,26.536075
2023-09-28,358.01,22.87,370.2094,23.1839,362.5110,26.61985,329.92405,26.495525
2023-09-27,355.04,23.97,370.7622,23.2045,362.1598,26.77865,329.54420,26.457675
2023-09-26,354.21,25.04,371.3762,23.1947,361.7711,26.95955,329.18825,26.412725
2023-09-25,359.61,22.90,371.9442,23.1713,361.4019,27.11015,328.81985,26.363975
2023-09-22,357.91,22.87,372.3334,23.1917,360.9996,27.27005,328.43020,26.324825
2023-09-21,357.86,22.81,372.7582,23.2185,360.6424,27.41375,328.07885,26.283625
2023-09-20,364.54,21.18,373.0574,23.2437,360.2894,27.56425,327.75230,26.241475
2023-09-19,369.87,20.41,373.1300,23.3295,359.8475,27.74675,327.39820,26.208775
2023-09-18,370.66,20.51,373.0598,23.4345,359.2675,27.95485,327.01565,26.181325

In [30]:
#remove rows with NaN
df_sma_clean = df_sma.dropna()
df_sma_clean = df_sma_clean.reset_index()
df_sma_clean = df_sma_clean.rename(columns={'index': 'date'})
df_sma_clean['date'] = pd.to_datetime(df_sma_clean['date'])
df_sma_clean.head(5)

,date,QQQ,VXX,QQQ_SMA_50,VXX_SMA_50,QQQ_SMA_100,VXX_SMA_100,QQQ_SMA_200,VXX_SMA_200
0,2023-09-29,358.27,23.32,369.8396,23.1705,362.8568,26.47195,330.28750,26.536075
1,2023-09-28,358.01,22.87,370.2094,23.1839,362.5110,26.61985,329.92405,26.495525
2,2023-09-27,355.04,23.97,370.7622,23.2045,362.1598,26.77865,329.54420,26.457675
3,2023-09-26,354.21,25.04,371.3762,23.1947,361.7711,26.95955,329.18825,26.412725
4,2023-09-25,359.61,22.90,371.9442,23.1713,361.4019,27.11015,328.81985,26.363975

In [32]:
import requests

#years to pull in historic treasury rates for
years = [2, 10, 30]

df_rate = pd.DataFrame()

#set up date column
url = 'https://www.alphavantage.co/query?function=TREASURY_YIELD&interval=daily&maturity=10year&apikey=ALUI1VJSESQR07TD'
r = requests.get(url)
data = r.json()

for i in data['data']:
    df_rate = df_rate.append({'date': i['date']}, ignore_index=True)
    
#extract historic treasury rates reported daily
for year in years:
    url = 'https://www.alphavantage.co/query?function=TREASURY_YIELD&interval=daily&maturity='+str(year)+'year&apikey=ALUI1VJSESQR07TD'
    r = requests.get(url)
    data = r.json()
    
    #populate rate
    for i in data['data']:
        df_rate.loc[df_rate['date'] == i['date'], str(year) +'yr_rate'] = i['value']
    
df_rate['date'] = pd.to_datetime(df_rate['date'])    
df_rate.head(10)

        date 2yr_rate 10yr_rate 30yr_rate
0 2023-09-28     5.04      4.59      4.71
1 2023-09-27     5.10      4.61      4.73
2 2023-09-26     5.04      4.56      4.70
3 2023-09-25     5.09      4.55      4.67
4 2023-09-22     5.10      4.44      4.53
5 2023-09-21     5.12      4.49      4.56
6 2023-09-20     5.12      4.35      4.40
7 2023-09-19     5.08      4.37      4.43
8 2023-09-18     5.05      4.32      4.40
9 2023-09-15     5.02      4.33      4.42

In [33]:
#join dataframes together
combined_df = pd.merge(df_sma_clean, df_rate, on='date')

combined_df.head(5)

,date,QQQ,VXX,QQQ_SMA_50,VXX_SMA_50,QQQ_SMA_100,VXX_SMA_100,QQQ_SMA_200,VXX_SMA_200,2yr_rate,10yr_rate,30yr_rate
0,2023-09-28,358.01,22.87,370.2094,23.1839,362.5110,26.61985,329.92405,26.495525,5.04,4.59,4.71
1,2023-09-27,355.04,23.97,370.7622,23.2045,362.1598,26.77865,329.54420,26.457675,5.10,4.61,4.73
2,2023-09-26,354.21,25.04,371.3762,23.1947,361.7711,26.95955,329.18825,26.412725,5.04,4.56,4.70
3,2023-09-25,359.61,22.90,371.9442,23.1713,361.4019,27.11015,328.81985,26.363975,5.09,4.55,4.67
4,2023-09-22,357.91,22.87,372.3334,23.1917,360.9996,27.27005,328.43020,26.324825,5.10,4.44,4.53

## Further cleanup/data enhancements
### Categorical Field Additions
- Binary above or below SMAs
- General 30 day trend for rates (all)
- Flag for if rates are inverted
- 30 day trend for VXX